<style type="text/css">
    .bd1{ margin-top: 5px; width: 100%; height:570px; }
    .bd1 li{ zoom:1; vertical-align:middle; border-radius:3px;overflow:hidden;}
    .bd1 img{ width:100%; display:block; }



.rg2{width:80%;margin:30px auto;height:200px;-webkit-box-shadow:0 0 10px #e3e3e8;  -moz-box-shadow:0 0 10px #e3e3e8;  box-shadow:0 0 10px #e3e3e8;padding:16px;overflow:hidden;}
.rg2-img{width:12%;float:left;}
.rg2-text{width:78%;float:left;padding:0 50px;}
.rg2-text h1{color:#a2a1aa;font-size:20px;height:45px;line-height:45px;}
.rg2-text h1 span{color:#575660;}
.rg2-text ul{overflow:hidden;margin-top:30px;width: 100%}
.rg2-text ul li{height:54px;float:left;width:42%;padding-left:7%;border-left:1px #d1d1d1 solid;}
.rg2-text ul li.rg2-li1{background:url(/student/images/icon9.png) no-repeat 14px center;cursor: pointer;}
.rg2-text ul li.rg2-li2{background:url(/student/images/icon10.png) no-repeat 14px center;border-right:1px #d1d1d1 solid;cursor: pointer;}
</style>